.alert {
    border-radius: .25rem;
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: .85rem 1.25rem;
    position: relative;
    overflow: hidden;
    @extend %box-shadow;
    @extend %transition;

    &:before {
    	content: '';
	    background-image: url(../img/logo-invisivel.png);
	    background-repeat: no-repeat;
	    margin-left: 20px;
	    opacity: .4;
	    position: absolute;
	    @extend %fluid-position;
	    z-index: 0;
    }

    a {
		text-decoration: none;
	}

    .content {
    	background: transparent;
    	position: relative;
    	z-index: 1;
    }

    &:active {
		transform: scale(0.9555);
		@extend %transition;
    }
}

.alert-primary {
    color: #ffffff;
    background-color: #00BCD4;
    border-color: #00BCD4;
    a {
    	color: #ffffff;
    }
}

.alert-secondary {
    color: #ffffff;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
    a {
    	color: #ffffff;
    }
}

.alert-success {
    color: #ffffff;
    background-color: #8BC34A;
    border-color: #8BC34A;
    a {
    	color: #ffffff;
    }
}

.alert-danger {
    color: #ffffff;
    background-color: #EF5350;
    border-color: #EF5350;
    a {
    	color: #ffffff;
    }
}

.alert-warning {
    color: #000000;
    background-color: #FFC107;
    border-color: #FFC107;
    a {
    	color: #000000;
    }
}

.alert-info {
    color: #ffffff;
    background-color: #4FC3F7;
    border-color: #4FC3F7;
    a {
    	color: #ffffff;
    }
}

.alert-light {
    color: #000000;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    a {
    	color: #000000;
    }
}

.alert-dark {
    color: #e0e0e0;
    background-color: #263238;
    border-color: #263238;
    a {
    	color: #e0e0e0;
    }
}
