.blog {

	.item-post {
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		@extend %box-shadow;
		@extend %transition;

		&:active {
			transform: scale(0.9555);
			@extend %transition;
	    }

	    a {
	    	display: block;
	    	outline: none;
	    	text-decoration: none;
	    	&:hover {
	    		background-color: #efefef;
	    	}
	    }

		/*----------  Title  ----------*/
		.title {
		    color: #333;
		    font-weight: 600;
	    	font-size: 15px;
	    	margin: 0;

	    	@media (min-width: 576px) {
	    		font-size: 16px;
	    	}

	    	&:after {
    		    background-color: #8BC34A;
	    		content: '';
	    		display: block;
	    		height: 2px;
    			margin: 5px 0;
	    		width: 100px;
	    	}
		}

		/*----------  Image  ----------*/
		img {
			height: 100%;
		    object-fit: cover;
		    position: absolute;
		}

		/*----------  info-down  ----------*/
		.info-down {
			font-size: 11px;
			color: #777;
			display: block;

			@media (min-width: 576px) {
				display: initial;
			}

			@media (min-width: 768px) {
				font-size: 12px;
			}
		}

		/*----------  Card destaque  ----------*/
		&.new {
			@media (min-width: 768px) {
				.over {
					display: block;
					overflow: hidden;
					position: relative;
				}

				img {
					position: relative;
					transition: .5s ease-out;

				    &:hover {
				    	transform: scale(1.2);
				    	transition: .5s ease-in;
				    }
				}
			}
		}
	}


	&.list {
		.item-post {
			.title {
				@media (min-width: 1200px) {
					font-size: 22px;
				}
			}
		}
	}

	/*----------  Sidebar  ----------*/
	.widget {
		margin-top: 2.2rem;

		.item-post {

			.title {
				font-size: 15px;
			}

			.info-down {
				font-size: 11px;
			}
		}
	}

	/*----------  Single  ----------*/
	.text {

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 1.5rem;
		}
	}
}
