/*----------  Button  ----------*/
.btn {
    border-radius: $border-radius;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline-table;
    letter-spacing: .5px;
    line-height: 32px;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;

    @media (min-width: 768px) {
        line-height: 36px;
        padding: 0 2rem;
    }


    &:hover, &:focus, &:active {
        color: #fff !important;
        text-decoration: none;
    }
}

.btn-primary {
    background: transparent;
    border: 1px solid $color-1;
    color: $color-1;

    &:hover, &:focus, &:active  {
        @include btn-hover(#fff, $color-1, $color-1);
    }
}

.btn-secundary {
    background: $color-2;
    border-color: $color-2;
    color: #fff;

	&:hover, &:focus, &:active  {
		@include btn-hover(#fff, darken($color-2, 8%), darken($color-2, 8%));
	}
}

.btn-three {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    @extend %box-shadow;

    &:hover, &:focus, &:active  {
        @include btn-hover(#fff, lighten($color-2, 10%), lighten($color-2, 10%));
    }
}

.btn-orange {
    background: transparent;
    border: 1px solid $color-2;
    color: $color-2;

    &:hover, &:focus, &:active  {
        @include btn-hover($color-2, transparent, lighten($color-2, 10%));
    }
}

.btn-small {
    font-size: 13px;
    line-height: 1;
    padding: 5px 12px;
    height: 25px;
}
