/*----------  cards  ----------*/
.card {
    background: #fff;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: 100%;
    @include transition(.4s all);

    &:hover {
        .card-title {
            transform: translateY(-10px);
            @include transition(.3s all);
        }
    }

    @media (min-width: 992px) {
         height: 300px;
    }

    /*----------  Sizes img  ----------*/
    &.c-size-1 {
        height: 250px;

        @media (min-width: 768px) {
            height: 150px;
        }
    }

    &.c-size-2 {
        height: 250px;

        @media (min-width: 992px) {
            height: 300px;
        }
    }

    /*----------  Link  ----------*/
    a.link {
        display: contents;
        text-decoration: none;
    }

}

.card-image {
    border-radius: $border-radius;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.card-info {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0.9) 100%);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 20% 20px 18px 20px;
    z-index: 2;
}

.card-title {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    word-break: break-word;
    margin: 0;
    @include transition(.4s all);

    @media (min-width: 692px) {
        font-size: 18px;
        line-height: 18px;
    }
}

/*----------  Autores  ----------*/
.author {
    font-size: 13px;
    color: #eaeaea;
    width: 100%;
}

/*----------  Avaliação  ----------*/
.evaluation {
    display: inline-block;

    li {
        display: inline-block;
        font-size: 12px;
        color: #fff;

        i {
            color: #ffc107;
        }
    }

    @media (max-width: 459px) {
        ul {
            margin: 0;
        }
    }

    &.lange {
        li {
            font-size: 20px;
        }
    }
}


/*----------  Visualizações  ----------*/
.views {
    bottom: -4px;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-bottom: -6px;
    position: relative;

    @media (max-width: 459px) {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
}

/*----------  versão para fundos claros  ----------*/
.dark {
    .evaluation li, .views {
        color: #333;
    }

    .author {
        color: #333;
    }
}

/*----------  Library  ----------*/
.library-list {
    span.favorite {
        border-bottom: 1px solid #19a799;
        color: #19a799;
        display: inline-block;
        font-size: 15px;
        margin-bottom: 5px;

        .remove {
            color: #EF5350;

            @media (min-width: 922px) {
                display: none;
            }
        }

        &:hover {
            .remove {
                display: inline-block;
                @extend %transition;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: .2rem;
    }
}
