.navbar-right-top .link-nav {
    display: table-cell;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    color: #82849f;
    font-size: 16px;
    line-height: 3;
    padding: 5px 15px;

    &:hover {
    	background: #f9f9f9;
    }

    &:first-child {
    	border-right: none;
    	@media (min-width: 992px) {
			display: none !important;
    	}
    }
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.nav-user-dropdown {
    margin: 0px;
    min-width: 230px;
    padding: 0px;

    @media (max-width: ($breakpoint-menus - 1px)) {
        width: 100%;
    }
}

.dropdown-menu {
    background: #fff;
    border: none !important;
    color: #3d405c;
    font-size: 14px;
    overflow: hidden;
    @extend %box-shadow;

    @media (max-width: ($breakpoint-menus - 1px)) {
        overflow: inherit;
    }
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.nav-user-info {
    background-color: #000;
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-size: 13px;
    line-height: 1.4;
    padding: 30px 12px;
}

.nav-user-dropdown .dropdown-item {
    background-color: transparent;
    border: 0;
    clear: both;
    color: #4b4c50;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 0.4;
    padding: 12px 22px 15px;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;

    &:hover {
        background: #f3f1f1;
    }
}

/*----------  Divisor  ----------*/
span.divider {
    background: #dedede;
    display: block;
    height: 1px;
    margin: 3px;
    overflow: hidden;
    width: 97%;
}


//mobile
@media (max-width: ($breakpoint-menus - 1px)) {
    .nav-user {
        position: inherit;
    }
}
