.novel-footer {
	.wrap-info {
		padding: 70px 0;
		background: #f9f9f9;
		border-top: 1px solid #dedede;

		/*----------  image logo  ----------*/
		.logo {
			span {
				font-weight: bold;
			    letter-spacing: 3px;
			    display: block;
			    font-size: 18px;
			}

			img {
				height: 70px;
			    width: auto;
			    display: inline-block;
			}
		}

		/*----------  Lists  ----------*/
		li a {
		    color: #333;
		    line-height: 1.8;
		}

		h1 {
			font-size: 20px;
		}
	}

	/*----------  Copyright  ----------*/
	.copyright {
		padding: 20px 0;
		border-top: 1px solid #dedede;

		p {
			font-size: 12px;
			margin-bottom: 0;
		}

		p, a {
			color: #777;
		}
	}
}

/*----------  Social  ----------*/
.social {
	li {
	    display: inline-block;

		a {
			background: #dedede;
		    border-radius: 25px;
		    border: 1px solid #dad9d9;
		    color: #333;
		    display: block;
		    height: 38px;
		    margin-right: .5rem;
		    width: 38px;

		    &:hover {
			    background-color: $color-brown;
			    border-color: $color-brown;
			    color: #fff;
				outline: none;
			    text-decoration: none;
		    }

		    /*----------  Icons is not work  ----------*/
		    .fa-facebook-f {
		    	padding: 10px 14px;
		    }

		}

	    i {
    	    display: block;
    		padding: 10px;
	    }
	}
}

/*----------  Button return top  ----------*/
.return-top {
    background-color: $color-2;
    border-radius: 50%;
    bottom: 15px;
    height: 50px;
    position: fixed;
    right: 15px;
    text-align: center;
	width: 50px;
	z-index: 100;
    @extend %box-shadow;

    &:hover {
    	background-color: darken($color-2, 5%);
    }

    a {
	    color: #fff !important;
	    display: block;
	    height: 100%;

	    span {
	    	position: relative;
	    	top: 12px;
	    }
    }
}
