/*----------  Fonts  ----------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body, html {
	font-family: 'Open Sans', sans-serif;
	color: #1f2129;
	position: relative;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	@media (max-width: 768px) {
		font-size: 28px
	}
}

h2 {
	@media (max-width: 768px) {
		font-size: 24px
	}
}

/* remove the original arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i.fa {
    float: right;
    background-color: #fff;
    color: #4a4a4a;
    margin-right: 9px;
    margin-top: -26px;
    padding-right: 5px;
    pointer-events: none;
}

p:last-child {
	margin-bottom: 0;
}

.title {
	@extend %font-title;
}

.subtitle {
	color: #8a8a8a;
    font-size: 18px;
}

/*----------  style ul  ----------*/

ul.list1 {
	list-style-type: none;

	li {
		line-height: 1.9;

		&:before {
		    content: '\f00c';
		    display: inline-block;
		    font-family: "Font Awesome 5 Free";
		    font-weight: 900;
		    margin-right: 7px;
		    color: #e2acbd;
		    font-size: 14px;
		}
	}
}

ul.no-link {
	li > a {
		@extend %no-link;
	}
}

/*----------  colors  ----------*/
.text-grey {
	color: #666;
	font-size: 15px;
}

.text-orange {
	color: $color-2;
}

/*----------  spacing  ----------*/
.p-default {
	padding-top: 70px;
	padding-bottom: 70px;
}

.pt-default {
	padding-top: 70px;
}

.pb-default {
	padding-bottom: 70px;
}

.mb-negative {
	margin-bottom: -2.25rem;
}

/*----------  Usar esta classe quando o card anterior tiver .mb-4  ----------*/
.pt-mb-4 {
	padding-top: 36px;
}

.pd-lg-2 {
	@media (min-width: 992px) {
		padding-top: 70px;
		padding-bottom: 33px;
	}
}

/*----------  Font  ----------*/
.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-20 { font-size: 20px; }
.font-300 { font-weight: 300 !important; }
.font-400 { font-weight: 400 !important; }
.bold { font-weight: bold !important; }

/*----------  secitons  ----------*/
.s-border {
	margin-top: -70px;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    padding-top: 70px;

    @media (min-width: 768px) {
    	border-top-left-radius: $border-radius-2;
    	border-top-right-radius: $border-radius-2;
    }
}

.area-user {
	display: none;
	width: 45px;
	height: 45px;

	img {
		border-radius: 50%;
		width: 100%;
		height: auto;
	}

	.area-menu {
		position: absolute;
	    z-index: 100;
	    right: 15px;
	    background: #fff;
	    border-top: 3px solid #F44336;
	    top: 70px;
	    @extend %box-shadow;

		li {
			border-bottom: 1px solid #dedede;
			padding: 10px 30px;

			a {
				display: block;
			}
		}

	    .footer{
			color: #808080;
			font-size: 14px;
	    }
	}
}

/*----------  404  ----------*/
.error-404 {
	background: #E1F5FE;
    background-image: url(../img/nuvem.png);
    background-size: cover;
    background-position-y: bottom;
	padding: 70px 0;

	@media (min-width: 768px) {
		padding: 90px 0 100px;
	}

	h1 {
		font-size: 5rem;

		@media (min-width: 992px) {
			font-size: 8rem;
		}
	}
}


/*----------  anuncios  ----------*/
.ads {
	text-align: center;

	.anuncio img {
		border: 1px solid #ababab;
	}
}

/*----------  sections  ----------*/
.bg-after {
	position: relative;

	&:after {
		content: '';
	    background-image: linear-gradient(to top, rgba(249, 234, 226, 0.82),rgba(255,255,255,0));
	    display: block;
	    left: 0;
	    position: absolute;
	    bottom: 0;
	    height: 50%;
	    width: 100%;
	    z-index: -1;
	}
}

.navbar {
	background: #fff;
}

/*----------  Contato  ----------*/
.contact {
	sup {
		color: red;
	}
}


/*----------  Sessão de divulgação  ----------*/
.info {
	background: url(../img/bg/sky-anime.jpg) left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


	.title {
		text-transform: uppercase;
		@extend %font-title;
	}

    p, h3, .title {
    	color: #fff;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.88);
    }

    p {
    	font-size: 18px;
    }

    .wrap {
    	background: rgba(0, 0, 0, 0.35);
    	padding: 70px 0;
    	@extend %fluid-position;
    }
}


/*----------  parallax  ----------*/
.parallax-mirror {
	background: #607D8B;
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);
}

/*----------  Biblioteca  ----------*/
.button {
	display: inline-block;
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    padding: 4px 11px;
    border-radius: 4px;
    cursor: pointer;

	&:hover {
		background: darken(#f5f5f5, 2%);
	}
}


/*----------  Menu  ----------*/
.menu {
	list-style-type: none;
	display: none;

	li > a {
    	text-decoration: none;
	   	padding: 7px 5px;
	    color: #333;
	    font-size: 14px;
		display: block;

	    &:hover {
		    background: rgb(109, 109, 109);
		    color: #fff;
		}
	}
}

@media (min-width: 1200px) {
	.menu {

		padding: 0;
	    max-height: 330px;
	    max-width: 300px;
	    overflow: auto;
	    position: absolute;
	    z-index: 100;

		&::-webkit-scrollbar {
		    width: 5px;
			background: lighten(#000, 10%);
		}

		&::-webkit-scrollbar-thumb {
		  	background-color: lighten(#000, 25%);
		  	border-radius: 22px;
		}

	    li > a {
	    	text-decoration: none;
		    padding: 6px 20px;
		    background: rgba(0, 0, 0, 0.83);
		    color: #d8d8d8;
		    font-size: 14px;
			display: block;

		    &:hover {
			    background: rgb(109, 109, 109);
			    color: #fff;
			}
		}
	}
}
