.landing {
	position: relative;

	h1, h2, h3 {
		margin-top: 1rem;
	}

	h1 {
		@extend %font-title;
	}
}

.content {
	background: white;
}


/*----------  Sala de contribuição  ----------*/
.paypal {
	background-image: -webkit-linear-gradient(top right, #002f83, #004a9d, #0065b4, #0080ca, #009cde);
	background-image: -o-linear-gradient(top right, #002f83, #004a9d, #0065b4, #0080ca, #009cde);
	background-image: linear-gradient(to bottom left, #002f83, #004a9d, #0065b4, #0080ca, #009cde)	;
}

.paypal, .pagseguro {
	padding: 60px 30px;

	img {
		max-width: 70%;
		height: auto;
	}
}
