.login {
	max-width: 100%;

	.login-left,
	.login-right {
		min-height: 100vh;
	}

	.login-left {
		@extend %flex;
		background: #20c997;
		background-image: url(../img/bg/bg1.jpg);
		background-position: center;
		background-size: cover;

		h1 {
			color: #fff;

			span {
				display: block;
				font-weight: 900;
			    font-size: 3rem;
			    text-transform: uppercase;
			}
		}
	}

	.login-right {
	    @extend %flex;
	    padding: 30px;

	    .logo {
	    	text-align: center;

	    	img {
		    	width: 100%;
		    	max-width: 250px;
		    }
	    }

	    form {
	    	width: 100%;
	    	max-width: 400px;
	    }

	    button {
	    	width: 100%;
	    }
	}

	/*----------  Esqueci minha senha  ----------*/
	.forgot {
	    display: flex;
	    justify-content: space-between;
	    margin-top: 1.5rem;
	    max-width: 400px;
	    width: 100%;

	    span > a {
	    	text-decoration: underline;
	    }
	}
}
