.navbar-novel {
	background: #f5f6fc;
	background-image: url(../img/bg/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
	position: relative;
	padding: 60px 0 130px;
	border-bottom: 1px solid #dedede;

	.wrap {
		@extend %fluid-position;
	}

	h2 {
		color: #fff;
	}
}

#navDrop .nav-link {
	@media (max-width: 575px) {
		padding: 10px 20px;
	}
}
