.novels {
	h5 {
		font-size: 16px;
		font-weight: 500;
	}
}

.top-novels {
	border-bottom: 1px solid #dedede;
	margin-bottom: 1rem;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

	@media (min-width: 992px) {
		&:nth-last-child(2) {
			border-bottom: none;
		}
	}

	h2 {
        font-weight: 600;
    }
}


.border-none {
	border: none !important;
}

/*----------  Gêneros  ----------*/
.upgrades {
	.translation {
		> div {
			display: inline-block;
		}
		/*----------  Reboot bootstrap style  ----------*/
		.nav-tabs, .nav-tabs .nav-link {
			border: none;
		}

		.nav-link {
			padding: 0;
			display: inherit;
		}

		li {
			display: inline-block;
			margin-left: 10px;
			position: relative;
			font-size: 14px;

			a {
				@extend %no-link;
				@extend %transition;
				&.active {
				    font-weight: 600;
				    font-size: 15px;
				    border-bottom: 2px solid #FF9800 !important;
				}
			}
		}
	}

	.tag span {
		font-size: 12px;
	    display: inline-block;
	    padding: 2px 12px;
	    border: 1px solid #cecece;
	    color: #484848;
	    border-radius: $border-radius;
	    @extend %transition;

	    &:hover {
	    	border: 1px solid #ccb3bb;
		    color: #ffffff;
		    background: #e2d0d6;
		    @extend %transition;
	    }
	}
}

/*----------  Tags  ----------*/
.list-tags {
	padding-left: 0;
    list-style: none;

    li {
    	display: inline-block;

    	a {
		    border: 2px solid $color-2;
    		border-radius: $border-radius;
		    color: $color-2;
		    display: block;
		    margin: 0 8px 8px 0;
    		padding: .1rem .6rem;
    		background: white;
    		@extend %no-link;

    		&:hover {
				@include btn-hover(#fff, $color-2, $color-2);
			}

			@media (min-width: 768px) {
			   	margin: 0 10px 10px 0;
			    padding: .2rem 1rem;
			}
    	}
    }
}


/*====================================
=            Single Novel            =
====================================*/
.novel-head {
	color: #fff;
	padding-bottom: 110px;
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, .75) 90%);
	    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, .75) 90%);
	    background-image: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, .75) 90%);
	    @extend %fluid-position;
	    position: absolute;


	}

	li, li > a, p, h1, span, h3 {
		color: #ffffff !important;
		font-weight: 300;
		text-shadow: -1px 1px 2px rgba(66, 65, 65, 0.52);
	}

	.sigla {
	    background: rgba(0, 0, 0, 0.63);
	    border-radius: 20px;
	    display: inline-block;
	    font-size: 13px;
	    padding: 4px 15px;
	}

	.novel-info {
	    margin-top: 15px;

	    @media (min-width: 1200px) {
	    	margin-left: -50px;
	    }
	}

	/*=====  Autores  ======*/
	.authors {
		display: none;
		@media(min-width: 768px) {
	 		display: block;
		}

		b {
			color: lighten($color-2, 10%);
		}
	}

	.novel-img {
		@media (min-width: 1200px) {
			max-width: 300px;
		}
	}

	//mobile
	@media (max-width: 767px) {
		h1 {
			font-size: 1.9rem;
		}
	}
}

/*----------  content  ----------*/
.content-novel {
	margin-top: -70px;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
    	border-top-left-radius: $border-radius-2;
    	border-top-right-radius: $border-radius-2;
    }

    .text, .tags, .suggested, .authors {
    	margin-bottom: 2rem;
    }

    .authors {
    	display: block;
    	@media (min-width: 768px) {
    		display: none;
    	}
    }

    .text {
    	p, li {
    		font-weight: 300;
    		line-height: 28px;
    	}
    }

    .credits {
    	margin-bottom: 1.5rem;
    }
}

/*----------  share links  ----------*/
.share {
	margin-top: 1.3rem;

	ul li {
	    margin-right: 1rem;
    	font-size: 1.5rem;
	}

	h5 {
		color: #fff;
		margin-bottom: 0.4rem;
	}
}

/*----------  Pagination  ----------*/
.p-prev, .p-next, .indice {
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid $color-2;
    color: $color-2;

    a {
	    display: inline-block;
	    height: 100%;
		padding: .2rem 0.5rem;
	    width: 100%;
    	text-decoration: none;

    	@media (min-width: 576px) {
    		padding: .2rem 1.5rem;
    	}
    }

	&:hover {
		@extend %box-shadow;
	}
}

/*----------  capitulos  ----------*/
.capitulo {
	.vol-cap {
	    background: #f6f6f6;
	    border: 1px solid #f0f0f0;
	    border-radius: 10px;
		display: block;
	    font-size: 20px;
	    font-weight: 600;
	    padding: 1rem;
	    width: 100%;
	    margin: 0 0 1rem;
	}

	.sub-vol {
		font-size: 18px;
		font-weight: 700;
		margin: .4rem 0 0;
	    padding: .5rem 1rem;
	    background: transparent;
	    color: $color-2;
	    display: block;
	    width: 100%;
	}

	ol {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		border-bottom: 1px solid #dedede;
		margin-right: 15px;
		width: 100%;

		&:last-child {
			border: none;
		}

		@media (min-width: 768px) {
			width: calc(50% - 15px);

			&:nth-last-child(2) {
				border: none;
			}
		}
	}

	a {
		text-decoration: none;
	    display: block;
	    padding: 1rem;

		&:hover {
	        background: #f3f1f1;
	    }

	    .vol {
		    border-radius: 5px;
		    border: 1px solid #efefef;
		    color: #6d6d6d;
		    font-size: 11px;
		    padding: .2rem .5rem;
	    	background: #f5f5f5;
	    }

		strong {
			color: #1f2129;
		    display: block;
		    width: 100%;
		}

		small {
			color: #83848f;
		}
	}
}

/*----------  Descrição para o card 2  ----------*/
.description {
	max-height: 135px;
	overflow-y: auto;
	width: 100%;
	margin-bottom: 1rem;

	@media (max-width: 575px) {
		padding-right: 5px;
		display: none;
	}

	//Scroll bar
	&::-webkit-scrollbar {
	    width: 5px;
	    background: #f3f3f3;

	    @media (max-width: 575px) {
	    	width: 3px;
	    }
	}

	&::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
		border-radius: 10px;
	    background: #dadada;
	}

	p {
    	font-size: 13px;
    	margin-bottom: 0;
	}
}

