/*=================================
=            Bootstrap            =
=================================*/
.img-responsive {
	max-width: 100%;
	height: auto;
}

.border {
	border-radius: $border-radius;
	overflow: hidden;
}

.form-control, .btn {
	border-radius: $border-radius;
	&:focus, &:active {
		box-shadow: none !important;
	}
}

.form-control {
	-webkit-appearance: none;
}

/*---------- Sala de contribuição  ----------*/
.progress {
	height: 1.5rem;
}

/*----------  TABS  ----------*/
.nav-tabs {
	width: 100%;

	a {
		color: #333;
	}
}

.tab-content {
    padding-top: 30px;
}

/*----------  table  ----------*/
.table th {
	text-transform: uppercase;
	border-bottom: none !important;
}

.table td {
	color: #a5a5a5;
}

.table td > a {
	color: darken(#37474F, 8%);
}

.table th,
.table td:not(.title) {
	font-size: 13px;
}

select {
	padding: 0 1rem !important;
}

/*====================================
=            OWL Carousel            =
====================================*/
.owl-theme {
	//Dots
	.owl-dots .owl-dot {
		span {
    		width: 15px;
    		height: 6px;
    	}

    	&.active span, &:hover span {
			background: $color-1;
		}
	}

	// Nav
	.owl-nav {
		left: -8px;
	    margin: 0;
	    position: absolute;
	    right: -8px;
	    top: 50%;

		button {
		    height: 90px;
		    opacity: .6;
		    position: absolute;
		    text-align: center;
		    top: 0;
		    transform: translateY(-76%);
		    width: 50px;

		    span {
		    	color: #fff;
			    font-size: 58px;
			    line-height: 31px;
		    }
		}

		.owl-next {
		    background: linear-gradient(to left, rgba(0,0,0,0.45),rgba(0,0,0,0)) !important;
		    right: .5em;

		    span {
		    	margin-right: -16px;
		    }
		}

		.owl-prev {
		    background: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.45)) !important;
		    left: .5em;

		    span {
		    	margin-left: -16px;
		    }
		}
	}
}
