.search-open {
	background: rgba(0, 0, 0, 0.84);
	display: none;
	overflow-y: auto;
	padding: 20px;
	position: fixed;
	z-index: 1000;
	@extend %fluid-position;

	form {
		display: inline-block;
	    top: 50%;
	    left: 50%;
	    position: relative;
	    transform: translateY(-100%) translateX(-50%);
	}

	.close {
    	color: #ffffff;

    	&:hover {
    		opacity: 1;
    		color: #fff !important;
    	}
	}
}

.search-form {
	label {
		color: #e6e6e6;
	}

	input {
		border-top-left-radius: $border-radius-2;
    	border-bottom-left-radius: $border-radius-2;
    	border: 1px solid #dedede;
    	border-right: none;
    	box-shadow: -6px 0px 20px -7px rgba(0,0,0,0.4);
    	height: calc(3.25rem + 2px);
	}

	button {
		border-top-right-radius: $border-radius-2 !important;
	    background: #fff;
	    border: 1px solid #dedede;
	    border-left: none;
	    padding: .8rem 1.5rem;
    	border-bottom-right-radius: $border-radius-2 !important;
    	box-shadow: 3px 0px 20px -7px rgba(0,0,0,0.4);

    	&:focus {
    		outline: none;
    		background: #fbfbfb;
    	}
	}
}
