//indice-novel.php
.evaluation-individual {
    position: relative;
    line-height: 35px;

    .right {
        position: relative;
        top: -10px;
        @media (min-width: 576px) {
            position: absolute;
            right: 0;
            top: -3px;
        }

        ul {
            margin-bottom: 0;
        }
    }
}

.button-evaluation {
	margin: 1.5rem 0;

    @media (min-width: 992px) {
	    margin: 0;
	    right: 15%;
	    top: 50%;
    	position: absolute;
    	transform: translateY(-50%);
    }
}

.w-450 {
    @media (min-width: 576px) {
        width: 450px;
    }
}


/*============================================
=            Avaliação das novels            =
============================================*/
.success-box {
    display: none;
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.success-box img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.success-box > div {
    color:#888;
    display:inline-block;
    vertical-align:top;
}

.vote {
    cursor: pointer;

    li.star > i.fas {
      color: #ccc;
    }

    li.star.hover > i.fas {
      color: #FFCC36;
    }

    li.star.selected > i.fas {
      color: #FF912C;
    }
}
