$border-radius: 20px;
$border-radius-2: 50px;
$color-brown: #b18995; //Marrom claro

$color-1: #e8a84e; // marrom
$color-2: #ffd070; //laranja


$breakpoint-sidebar: 992px; // Variavel para _sidebar.scss
$breakpoint-menus: 768px; // Para _dropdown.php
$height-settings-mobile: 52px;

/*----------  extends  ----------*/
%box-shadow {
	box-shadow: 0 3px 7px rgba(0, 0, 0, .25), 0 4px 10px rgba(0, 9, 128, 0.035);
}

%fluid-position {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

%font-title {
    font-family: 'Quicksand', sans-serif;
}

%transition {
    @include transition(.1s all);
}

%no-link {
    text-decoration: none;
    color: #37474F;
}

/*----------  mixins  ----------*/
@mixin btn-hover($color:#fff, $background:#333, $border:#333) {
    color: $color !important;
    transition: .1s;
    opacity: .9;
    background: lighten($background, 3%);
    border-color: $border;
    @extend %box-shadow;
}

/*----------  Login page  ----------*/
%flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
