@import 'compass/css3';
@import 'variables';

/*----------  Progress bar  ----------*/
.progress-indicator-2 {
    position: fixed;
    background-color: $color-2;
    height: 3px;
    left: 0;
    bottom: 0;
    z-index: 1001;

    @media (min-width: $breakpoint-sidebar) {
        top: 0;
        bottom: inherit;
    }
}

.progress-count {
    color: #888;
    display: inline-block;
    text-align: center;

    @media (min-width: $breakpoint-sidebar) {
        display: inherit;
    }
}
/*----------  porcentagem da leitura  ----------*/
.reading {
    font-size: 12px;
    display: none;
    @media (min-width: $breakpoint-sidebar) {
        display: block;
    }
}

/*----------  calc size sections  ----------*/
.return-top {
    right: 15px;
    bottom: 56px;

    @media (min-width: $breakpoint-sidebar) {
        right: calc(15px + 65px);
        bottom: 15px;
    }
}

.novel-navbar,
.novel-footer,
.novel-single {
    width: 100%;
    @media (min-width: $breakpoint-sidebar) {
        width: calc(100% - 65px);
    }
}

.novel-footer {
    @media (max-width: ($breakpoint-sidebar - 1px)) {
        margin-bottom: $height-settings-mobile;
    }
}


/*----------  Mobile  ----------*/
.settings {
    background: #fff;
    border-top: 1px solid #dedede;
    bottom: 0;
    height: $height-settings-mobile;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    ul {
	    display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
        list-style-type: none;
        margin: 0 !important;
        padding: 0 !important;

    	li {
            display: block;
            position: relative;
            height: 100%;
            text-align: center;
            width: 100%;

    		a {
                text-decoration: none;
                display: block;
                position: relative;
                padding: 0 15px;
                height: 100%;
                &:hover, &:active, &:focus {
                    background-color: #f7f7f7;
                }

                i, span {
    				color: #888;
    			}
    		}

            .item {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%) translateY(-50%);
            }
    	}
    }
}


/*----------  desktop  ----------*/
@media (min-width: $breakpoint-sidebar) {
    .settings {
        border-left: 1px solid #dedede;
        border-top: none;
        bottom: unset;
        height: 100%;
        left: unset;
        right: 0;
        top: 0;
        width: 65px;

        ul {
            flex-direction: column;

            li {
                height: auto;

                a {
                    height: auto;
                    padding: 15px 0;
                }

                .item {
                    top: auto;
                    left: auto;
                    position: inherit;
                    transform: none;
                }
            }
        }
    }
}

