.feature-photo {
    display: block;
    position: relative;
    width: 100%;

    > figure {
	    margin-bottom: 0;

	    img {
		    display: inline-block;
		    width: 100%;
		}
	}
}

/*----------  Avatar  ----------*/
.user-avatar {
    border: 5px solid rgba(255, 255, 255, 0.78);
    border-radius: 50%;
    box-shadow: 0 1px 0 #e1e8ed;
    margin-top: -85px;
    overflow: hidden;
    position: relative;
    width: 170px;
	height: 170px;

	@media (min-width: 576px) {
		margin-top: -80px;
		width: 154px;
		height: 154px;
	}

	@media (min-width: 992px) {
		margin-top: -77px;
		width: 170px;
		height: 170px;
	}

	&.mini {
		width:110px !important;
		height: 110px !important;
		margin: 0 !important;
		display: inline-block;

		&:hover .edit-phto {
			bottom: 15px;
		}
	}

    > figure {
	    margin-bottom: 0;
	    position: relative;
	    max-width: 100%;

	    > img {
		    width: 100%;
		}
	}

	&:hover .edit-phto {
	    opacity: 1;
		bottom: 35px;
	    visibility: visible;
	}

	.edit-phto {
	    border-radius: 0;
	    left: 0;
	    opacity: 0;
	    visibility: hidden;
	    width: 100%;
	    transition: all 0.3s linear 0s;
	    padding: 5px;
	    text-align: center;

		//File
		.fileContainer [type="file"] {
		    height: 65px;
		    width: 155px;
		    right:-37px;
		}
	}
}
