.edit-phto {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

/*----------  Button change photo  ----------*/
.edit-phto {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    border-radius: 3px;
    border: 1px solid transparent;
    bottom: auto;
    color: #fff;
    padding: 5px 4px 5px 12px;
    position: absolute;
    z-index: 9;

    @media (min-width: 425px) {
		padding: 5px 20px;
    }

    //pic cover
    &.cover {
        left: auto;
        right: 15px;
        top: 179px;
    }

    &.img-profile {
        bottom: 0;
        height: 65px;
    }

    span {
		display: none;

    	@media (min-width: 425px) {
	    	display: block;
	    }
    }
}
