//bg cover
.bg-cover {
	height: 230px;
	background-size: cover;

	@media (min-width: 576px) {
		height: 240px;
	}

	@media (min-width: 992px) {
		height: 250px;
	}

	&:before {
		content: '';
		@extend %fluid-position;
		background: linear-gradient(rgba(0, 0, 0, 0.49) -5%, transparent 50%);
	}
}

/*----------  File  ----------*/
.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;

    [type=file] {
	    display: block;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    position: absolute;
	    right: -20px;
	    text-align: right;
	    top: -12px;
	    width: 96px;
	    line-height: 36px;
	    overflow: hidden;
	}
}
