@import 'avatar-picture';
@import 'buttons';
@import 'cover-picture';
@import 'timeline';

.profile-top {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dedede;
    padding-bottom: .5rem;
}

/*----------  container  ----------*/
.feature-photo .container-fluid {
	background: #fff;
    padding: 0 15px;

    @media (min-width: 992px) {
    	padding: 0 43px;
    }
}

.merged {
    margin: 0px;
    padding: 0;
}

//flex center
.flex-center {
    align-items: center;
	display: flex;
    justify-content: center;
}

.id-user {
    font-size: 12px;
    color: #696969;
}
