/*----------  time line  ----------*/
.title-info {
    background: #fff none repeat scroll 0 0;
    display: block;
    margin-top: 1rem;
    margin-bottom: .6rem;
    width: 100%;
	text-align: center;

	@media (min-width: 576px) {
		text-align: left;
	}

    .admin-name {
    	width: 100%;

    	> h5 {
		    color: #424242;
		    font-size: 20px;
		    margin: 0;
		}

		> span {
		    bottom: 14px;
		    color: #3a3a3a;
		    font-size: 10px;
		    line-height: 5px;
	    	right: auto;
    		transform: translateX(-50%);
		    position: absolute;

		    @media (min-width: 576px) {
		    	right: 0;
		    	transform: none;
		    }
		}
	}

	.btn-follow {
		width: 100%;
		display: block;
		margin-top: .5rem;

		@media (min-width: 576px) {
			margin-top: 0;
			width: auto;
			float: right;
		}

		a {
			background: $color-2;
		    padding: .1em 2rem;
		    font-size: 11px;
		    color: #fff !important;
		    font-weight: 700;
			border-radius: $border-radius;
		}
	}

    > ul {
	    display: inline-block;
	    list-style: outside none none;
	    margin-bottom: 0;
	    padding-left: 0;
	    vertical-align: middle;
	    width: 100%;

	    li {
		    display: inline-block;
		    position: relative;
		    line-height: 1;
	    }
	}

	@media screen and (max-width: 1281px) and (min-width: 1024px) {
	   line-height: 51px;
	}
}

.box {
	border: 1px solid #dedede;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.49);
}

// sidebar in profile
.info-member {
	margin-bottom: 0;

	li {
		margin-bottom: .8rem;
		font-size: 14px;

		&:last-child {
			margin-bottom: 0;
		}

		i {
			margin-right: 5px;
		}
	}

	a {
		color: #1f2129;
	}
}

.level-p {
    width: 42px;
	margin-left: 16px;
	font-weight: 700;
    position: relative;
    display: block;
    margin: .3rem auto;
    width: 60px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    color: #fff;

    @media (min-width: 576px) {
    	display: inline-block;
	    margin: auto;
    }

	&:before {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 0;
	    height: 0;
	    margin-left: -3px;
	    content: '';
	    border-right: 6px solid transparent;
	    border-bottom: 13px solid #ffd070;
	    border-left: 4px solid transparent;
	}

	&:after {
	    position: absolute;
	    z-index: 2;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    content: '';
	    border-radius: 64px;
	    background-color: #ffd070;
	    background-image: linear-gradient(90deg,#ffd070 0,#e8a84e 100%);
	}

	span {
		line-height: 1;
	    position: absolute;
	    z-index: 3;
	    top: 50%;
	    left: 50%;
	    width: 4em;
	    margin-top: -.5em;
	    margin-left: -2em;
	    font-size: 11px;
	}
}

//timeline
.content-timeline {
	margin-bottom: 1.5rem;
}
